{% extends 'base.html' %}
{% block content %}

<div class="row pt-1 pb-1">
    <div class="col-2">
        <img src="{{ product.icon.url }}" class="img-fluid">
    </div>
    <div class="col-10">
        <a href="{{ product.url }}">
            <h1>{{ product.title }}</h1>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <img src="{{ product.image.url }}" class="img-fluid">
    </div>
    <div class="col-4">
        <a href="javascript:{document.getElementById('upvote').submit()}">
            <button class="btn btn-primary btn-lg btn-block"><span class="oi oi-thumb-up"></span> Upvote
                {{ product.votes_total }}</button>
        </a>
    </div>
</div>
<div class="row pt-2 pb-2">
    <div class="col-4">
        <h4>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
            </svg> Hunted by: {{ product.hunter.username }}
        </h4>
    </div>
    <div class="col-4 text-right">
        <h4>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z" />
                <path fill-rule="evenodd"
                    d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" />
            </svg> {{ product.pub_date_pretty }}
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <p>{{ product.body }}</p>
    </div>
</div>

<form id="upvote" action="{% url 'upvote' product.id %}" method="post">
    {% csrf_token %}
    <input type="hidden">
</form>

{% endblock %}